<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Ackerman</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <h4 class="titulo">
      Estos son los Ackerman, la familia que más se la aguanta en SNK
    </h4>
    <h1>Los Ackerman</h1>
    <h2>Igual es más capo del universo es Levi y quizás la muchacha</h2>
    <img src="/img/Kenny.webp" alt="Kenny Ackerman" width="360" />
    <img src="/img/Levi.webp" alt="Levi Ackerman" width="360" />
    <img src="/img/Mikasa.webp" alt="Mikasa Ackerman" width="360" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium,
      ipsam. Consectetur, maxime obcaecati consequuntur deleniti molestias vero
      qui, doloribus provident beatae illo aliquid minima, fugiat quasi
      exercitationem cum. Quas, doloremque!
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam ipsum
      fugiat pariatur? Earum voluptate labore similique delectus facere libero
      quisquam enim accusantium quasi eum eius officia, quod numquam non neque?
    </p>
    <ol>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ol>
    <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ul>
    <a
      href="https://shingeki-no-kyojin.fandom.com/es/wiki/Shingeki_no_Kyojin_Wiki"
      >Para más información visiten esta página</a
    >
  </body>
</html>
