* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-header {
  background-color: #eac926;
  padding: 20px;
}
.logo {
  width: 200px;
}
.copy-header {
  font-weight: 400;
  text-align: center;
}
.hamburguer-button {
  background-color: #1259c3;
  color: white;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}
